.navbar {
    background-color: #2963a3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 50px;
    color: #ffffff;
    padding: 30px 0;
}

.theme-button button {
    background-color: #3c76c1;
    border: 1px solid #2963a3;
    border-radius: 100%;
    padding: 10px;
}

.welcome {
    padding: 30px 0 30px 130px;
}
/* Statistics */

.statistics-cards {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
}

.statistics-card {
    border: 1px solid lightgray;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10%;
}

.statistics-card h3 {
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}

.statistics-card p {
    font-weight: bold;
    font-size: 24px;
}

.statistics-card li {
    font-weight: bold;
    list-style: none;
    font-size: 24px;
}

.lifts, .lifts-two {
    padding: 0 20px;
    margin: 0;
}

.statistics-card .summary-stats .summary-stat p {
    font-weight: bold;
}

.workout-cards {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding: 20px 0;
    gap: 20px;
}

.workout-cards .statistics-card {
    flex: 0 1 calc(100% / 3 - 20px); /* 3 cards per row, minus gap */
    max-width: calc(100% / 3 - 20px);
}

.add-workout-form {
    padding: 0;
    max-width: 100%;
}

form {
    display: inline-block;
    padding: 1em;
}

.error-message {
    color: #d32f2f;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
  }

form p, form button, .smaller-stats input, .bigger-stats input, .exercises {
    width: 100%;
    box-sizing: border-box;
}

.bigger-stats {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    padding-bottom: 5px;
}

.date {
    color: gray;
    padding-left: 10px;
}

.smaller-stats {
    display: flex;
    width: 100%;
    gap: 10px;
    padding-bottom: 10px;
}

input, .exercises {
    border: 1px solid lightgrey;
    height: 30px;
    padding-left: 10px;
}

.exercises {
    color: gray;
    height: 30px;
    padding-left: 5px;
}

form .submit-button {
    background-color: #3c76c1;
    color: #ffffff;
    border: 1px solid #2963a3;
    height: 30px;
    border-radius: 5px;
    width: 100%;
}

p.lighter-text {
    font-size: 20px;
}

.statistics-card span {
    font-weight: normal;
}

/* #myChart {
    width: 100% !important;
    max-width: 400px;
    height: 300px !important;
    display: block;
    margin: 0 auto;
} */
/* .y-axis ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: left;
    align-items: start;
    padding: 0;
    padding-left: 10px;
}

.y-axis li {
    font-weight: normal;
    color: gray;
    font-size: 12px;
}

.x-axis ul {
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: start;
    padding: 0;
    padding-left: 40px;
}

.x-axis li {
    font-weight: normal;
    color: gray;
    font-size: 12px;
} */



.delete-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.delete-workout-form {
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;
}

.delete-workout-form input, button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.workout-number {
    width: 100%;
    justify-content: center;
}


.workout-log-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.workout-log-cards .statistics-card {
    padding: 20px 0;
    padding-bottom: 10px;
}

table {
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    text-align: start;
    padding-left: 30px;
    padding-bottom: 10px;
}

thead tr:first-child {
    border-top: none;
}

th, td {
    padding: 8px;
}

tr {
    border: solid lightgray;
    border-width: 1px 0;
}


tr:last-child {
    border-bottom: none;
}

.statistics-card .summary-stats {
    padding: 20px;
}

.summary-stats {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.summary-stat {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.summary-stat p {
    font-size: 16px;
    font-weight: normal;
}

.summary-stat img {
    text-align: start;
}

.social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
}

.footer-container {
    background-color: #ffffff;
    border-top: 1px solid lightgray;
    padding: 40px;
}

.footer-container h3 {
    text-align: center;
    color: #2963a3;
}