.navbar {
    background-color: #2963a3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    color: #ffffff;
}

.theme-button button {
    background-color: #3c76c1;
    border: 1px solid #2963a3;
    border-radius: 100%;
    padding: 10px;
}

.welcome {
    padding: 30px 0 30px 130px;
}
/* Statistics */

.statistics-cards {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
}

.statistics-card {
    border: 1px solid lightgray;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10%;
}

.statistics-card h3 {
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}

.statistics-card p {
    font-weight: bold;
    font-size: 24px;
}

.statistics-card li {
    font-weight: bold;
    list-style: none;
    font-size: 24px;
}

.lifts {
    padding: 0 20px;
    margin: 0;
}

.workout-cards {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding: 20px 0;
    gap: 20px;
}

.workout-cards .statistics-card {
    flex: 0 1 calc(100% / 3 - 20px); /* 3 cards per row, minus gap */
    max-width: calc(100% / 3 - 20px);
}

.add-workout-form {
    padding: 0;
    max-width: 100%;
}

form {
    display: inline-block;
    padding: 1em;
}

form p, form button, .smaller-stats input, .bigger-stats input, .exercises {
    width: 100%;
    box-sizing: border-box;
}

.bigger-stats {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.smaller-stats {
    display: flex;
    width: 100%;
    gap: 10px;
    padding-bottom: 10px;
}

